.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    // align-items: center;
    padding: 5rem 5rem;
    background-color: darkorange;
      
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }
  